.banner-container img{
    height: 700px;
}

@media only screen and (max-width:688px) {
    .banner-container img {
        height: 300px;
    }
}

@media only screen and (min-width:689px) and (max-width:992px){
    .banner-container img {
        height: 400px;
    }
}